#sec-btn-admin{
    
    position: absolute;
    top:300px;
    z-index: -1;
    width:1300px;
    margin: auto 310px;
    
    display:flex;
    justify-content: space-around;

}

.btn-admin{
    margin: 0px;
    left: -1800px;
    top: 0px;
    color: #f58505;
    width: 105px;
    height: 100px;
    border-radius: 15px;
    background-color: transparent;
    border-color: #f58505;
    display: flex;
}

.btn-admin:hover{
    transition: 0.5s;
    background-color: #f58505;
    color: black;
}


#span-admin{
    font-size: 20px;
    position: relative;
    right: 15px;
    top:50px;
}

#span-admin3{
    font-size: 20px;
    position: relative;
    right: 30px;
    top:50px;
}

#span-admin4{
    font-size: 20px;
    position: relative;
    right: 30px;
    top:50px;
}


#span-admin5{
    font-size: 20px;
    position: relative;
    right: 20px;
    top:50px;
    
}

.form-admin{
    width: 900px;
    height: 350px;
    margin: auto;
    background-color: transparent;
    margin-top: 350px;
    backdrop-filter: blur(5px) grayscale(30%);
    border: 1px solid whitesmoke;
    border-radius: 20px;
    display: none;
    z-index: 2;
    
    }

.titulo-form-admin{
    color: white;
    font-size: 16px;
    font-family:'Bruno Ace', cursive;
    margin-top: 20px;
    width: 900px;
    
}

#inputGroupSelect04{
    margin-bottom: 15px;
}

#span-select{
    height: 38px;
}

.mb-3{
   
    display: flex;
    
}

#sec1-form-info{
 
    width:400px;
    position: absolute;
    left: 30px;
    top: 0px;
}

#sec2-form-info{
 
    width:400px;
    position: absolute;
    right: 30px;
    top:60px;
}

#file-form-info{
    height: 38px;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 400px;
}

#formFile{
    width: 320px;
    position: relative;
    
}

#label-formFile{
    width:80px;
    color: grey;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}

.div-btns-info{
    position: relative;
    top:250px;
    
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
}

.btn-cerrar-info{
    font-size: 30px;
    font-weight: 300px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

#form-buscar-info{
    display: none;
    width: 350px;
    height: 350px;
    
}

#p-borrar-info{
    position: relative;
    margin-top: 80px;
   
    width: 350px;
    top: -50px;
}

#div-btns-info1{
    
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
}

.btn-submit{
    background-color: #f58505;
    font-size: 30px;
    font-weight: 300px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

#sec-borrar-info{
    display: block;
    color: white;
    font-family:'Bruno Ace', cursive;
    display: none;
    border: none;
    
    

}

#img-borrar{
    border: 1px solid red;
    width:300px;
    height: 300px;
    border-radius: 50%;
}

#div-btns-info2{
    position: relative;
    top: -150px;
}


#sec-borrar-card{
    
    position: relative;
    right: -250px;
}

#text-borrar-card{
    border: 1px solid green;
}

#span-borrar-info{
    font-size: 20px;
}

#btn-submit0{
    background-color: #f58505;
}

#form-editar-info{
    display: block;
    width: 400px;
    height: 400px;
    display: none;
}

#p-editar-info{
    
    width: 400px;
}

#div-btns-info4{
    position: relative;
    top: -35px;
}

#select-ecosistema-editar,#span-ecosistema-editar{
    margin-bottom:15px;
    margin-top: 0px;
    display: none;
}

#file-form-actualizar{
    background-color: white;
    display: none;
}

#form-sumarAdmin{
    display: block;
    width: 400px;
    height: 450px;
    display: none;
}

#p-sumarAdmin{
    width:400px;
}

#form-borrarAdmin{
    display: none;
    width: 350px;
}

#p-borrarAdmin{
    
    width: 350px;
    margin-bottom: 50px;

}

#sec-borrarAdmin{
    display: none;
    color: white;
    width:350px;

}