#img-cards{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border:1px solid violet;
    margin: auto;
    color: white;
       
}

#imagen-cards{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: 5px solid white;
}

.p-cards{
    position: relative;
    top: -285px;
}

#img-cards:hover > #imagen-cards {
    transition:1s;
    filter: blur(10px) grayscale(50%);

}

#p-cards{
    visibility: hidden;
    opacity: 0;
    
}

#img-cards:hover > #p-cards {
    transition: 2s;
    visibility: visible;
    opacity: 100%;
    
}




#div-cards{
   
    width: 410px;
    height: 500px;
    padding-top: 30px;
    
    display: block;
 }

#nombre-cards{
    font-family: 'Bruno Ace', cursive;
    font-size: 23px;
    color: grey;
    padding-top: 10px;
   
}

#img-cards:hover {
    cursor: pointer;
}



